In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('diamonds.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [3]:
df.head(1)

   carat    cut color clarity  depth  table  price     x     y     z
0   0.23  Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43

In [4]:
# Convertendo os tipos de dados
df.cut = df.cut.astype('category')
df.color = df.color.astype('category')
df.clarity = df.clarity.astype('category')
df.price = df.price.astype('int32')
df.carat = df.carat.astype('float32')
df.table = df.table.astype('float32')
df.depth = df.depth.astype('float32')
df.x = df.x.astype('float32')
df.y = df.y.astype('float32')
df.z = df.z.astype('float32')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float32
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float32
 5   table    53940 non-null  float32
 6   price    53940 non-null  int32
 7   x        53940 non-null  float32
 8   y        53940 non-null  float32
 9   z        53940 non-null  float32
dtypes: category(3), float32(6), int32(1)
memory usage: 1.6 MB